.plugin-ac-header {
  position: relative;
  padding-left: calc(1.1rem + 4px);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
}
.plugin-ac-header:hover {
  filter: brightness(1.2);
}
.plugin-ac-header .ac-icon__open, .plugin-ac-header .ac-icon__close {
  position: absolute;
  display: inline-flex;
  align-items: center;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}
.plugin-ac-header .ac-icon__open svg, .plugin-ac-header .ac-icon__close svg {
  fill: currentColor;
  width: 1.1rem;
  height: 1.1rem;
}
.plugin-ac-header .ac-icon__open {
  opacity: 1;
}
.plugin-ac-header .ac-icon__close {
  opacity: 0;
}
.plugin-ac-header.open .ac-icon__open {
  opacity: 0;
}
.plugin-ac-header.open .ac-icon__close {
  opacity: 1;
}
.plugin-ac-header.open + .plugin-ac + .plugin-ac-altmsg {
  opacity: 0;
}

.plugin-ac {
  overflow: hidden;
  border-left: 1px ridge silver;
  padding: 0 10px;
  margin-left: 10px;
}

.plugin-ac-altmsg {
  opacity: 1;
}

.plugin-ac-ctrl {
  font-weight: bold;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
}
.plugin-ac-ctrl span {
  pointer-events: none;
}