.plugin-ac-header {
    position: relative;
    padding-left: calc(1.1rem + 4px);
    user-select: none;
    cursor: pointer;
    &:hover {
        filter: brightness(1.2);
    }
    .ac-icon {
        &__open,
        &__close {
            position: absolute;
            display: inline-flex;
            align-items: center;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            svg {
                fill: currentColor;
                width: 1.1rem;
                height: 1.1rem;
            }
        }
        &__open {
            opacity: 1;
        }
        &__close {
            opacity: 0;
        }
    }
    &.open {
        .ac-icon {
            &__open {
                opacity: 0;
            }
            &__close {
                opacity: 1;
            }
        }
        + .plugin-ac {
            + .plugin-ac-altmsg{
                opacity: 0;
            }
        }
    }
}
.plugin-ac {
    overflow: hidden;
    border-left: 1px ridge silver;
    padding: 0 10px;
    margin-left: 10px;
}
.plugin-ac-altmsg {
    opacity: 1;
}
.plugin-ac-ctrl {
    font-weight: bold;
    user-select: none;
    cursor: pointer;
    span {
        pointer-events: none;
    }
}