.plugin-swiper {
    max-height: 100vh;
    margin-bottom: 24px;
    opacity: 0;
    transition: opacity .3s;
    &.swiper-initialized {
        opacity: 1;
    }
    .plugin-card {
        display: flex;
        gap: 0;
        justify-content: unset;
        .card-item {
            max-width: unset!important;
        }
    }
}

.swiper-slide {
    width: fit-content;
    > :first-of-type {
        margin-top: 0;
    }
    > :last-of-type {
        margin-bottom: 0;
    }
}

.swiper-vertical.swiper-autoheight .swiper-slide {
    height: fit-content!important;
}