.plugin-swiper {
  max-height: 100vh;
  margin-bottom: 24px;
  opacity: 0;
  transition: opacity 0.3s;
}
.plugin-swiper.swiper-initialized {
  opacity: 1;
}
.plugin-swiper .plugin-card {
  display: flex;
  gap: 0;
  justify-content: unset;
}
.plugin-swiper .plugin-card .card-item {
  max-width: unset !important;
}

.swiper-slide {
  width: -moz-fit-content;
  width: fit-content;
}
.swiper-slide > :first-of-type {
  margin-top: 0;
}
.swiper-slide > :last-of-type {
  margin-bottom: 0;
}

.swiper-vertical.swiper-autoheight .swiper-slide {
  height: -moz-fit-content !important;
  height: fit-content !important;
}