@use 'sass:math';

// variables
$col-gap: 10px;
$container-width: 720px;
$grid-area: image, title, description, date;
$square-size: 150px;

// columns setting
@for $col from 1 through 6 {
    $width: #{math.div($container-width - $col-gap * ($col - 1), $col)};
    .card-cols-#{$col} {
        grid-template-columns: repeat(auto-fill, minmax(auto, $width));
        .card-box {width: $width;}
        @if $col >= 4 {
            .card-description {
                height: 2.5em;
                -webkit-line-clamp: 2;
            }
            .card-date.long {display: none;}
            .card-date {display: block;}
        }
    }
}

// card container (and settings for each additional classes)
.plugin-card {
    display: grid;
    column-gap: $col-gap;
    row-gap: 20px;
    max-width: $container-width;
    margin: 0 auto;
    &.minimal {
        .card-description {display: none;}
        .card-title {
            -webkit-line-clamp: 2;
            height: 2em;
        }
    }
    &:not(.vertical) {
        .card-box {
            display: grid;
            grid-template:
            'image title      ' auto
            'image description' auto
            'image date       ' auto /
            $square-size 1fr;
             height: $square-size;
        }
        @each $area in $grid-area {
            .card-#{$area} {
                grid-area: #{$area};
                align-self: center;
            }
        }
    }
    &.vertical {
        .card-image {
            &::before {
                content: '';
                display: block;
                padding-top: 56.25%;
            }
        }
    }
}

// card body
.card-box {
    position: relative;
    max-width: 100%;
    border: 1px solid rgba(155, 155, 155, 0.5);
    border-radius: 4px;
    overflow: hidden;
    transition: .3s;
    &:hover {
        transform: translate(2px, -5px);
        box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.5);
     }
}

// title (and description)
.card-title, .card-description {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.card-title {
    -webkit-line-clamp: 1;
    font-size: 1.2em;
    padding: 5px 5px 0 5px;
}

// description
.card-description {
    font-size: .9em;
    height: 4.3em;
    opacity: .9;
    -webkit-line-clamp: 3;
    padding: 5px 5px 0 5px;
}

// date
.card-date {
    display: none;
    text-align: right;
    font-size: .9em;
    padding: 5px;
}
.card-date.long {display: block;}

// image
.card-image {
    position: relative;
    overflow: hidden;
    display: block;
    width: 100%;
    height: 100%;
    &.img-tall {
        img {object-position: top;}
    }
    img {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

// disable link decoration
.card-link {
    &:link, &:visited, &:hover {
        text-decoration: unset;
        color: unset;
        background-color: unset;
    }
}

// font-weight
.bold {font-weight: bold;}