.card-cols-1 {
  grid-template-columns: repeat(auto-fill, minmax(auto, 720px));
}

.card-cols-2 {
  grid-template-columns: repeat(auto-fill, minmax(auto, 355px));
}

.card-cols-3 {
  grid-template-columns: repeat(auto-fill, minmax(auto, 233.3333333333px));
}

.card-cols-4 {
  grid-template-columns: repeat(auto-fill, minmax(auto, 172.5px));
}
.card-cols-4 .card-description {
  height: 2.5em;
  -webkit-line-clamp: 2;
}
.card-cols-4 .card-date.long {
  display: none;
}
.card-cols-4 .card-date {
  display: block;
}

.card-cols-5 {
  grid-template-columns: repeat(auto-fill, minmax(auto, 136px));
}
.card-cols-5 .card-description {
  height: 2.5em;
  -webkit-line-clamp: 2;
}
.card-cols-5 .card-date.long {
  display: none;
}
.card-cols-5 .card-date {
  display: block;
}

.card-cols-6 {
  grid-template-columns: repeat(auto-fill, minmax(auto, 111.6666666667px));
}
.card-cols-6 .card-description {
  height: 2.5em;
  -webkit-line-clamp: 2;
}
.card-cols-6 .card-date.long {
  display: none;
}
.card-cols-6 .card-date {
  display: block;
}

.plugin-card {
  display: grid;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  row-gap: 20px;
  max-width: 720px;
  margin: 0 auto;
}
.plugin-card.minimal .card-description {
  display: none;
}
.plugin-card.minimal .card-date {
  padding-top: 1em;
}
.plugin-card:not(.vertical) .card-box {
  display: grid;
  grid-template: "image title      " auto "image description" auto "image date       " auto/150px 1fr;
  height: 150px;
}
.plugin-card:not(.vertical) .card-image {
  grid-area: image;
  align-self: center;
}
.plugin-card:not(.vertical) .card-title {
  grid-area: title;
  align-self: center;
}
.plugin-card:not(.vertical) .card-description {
  grid-area: description;
  align-self: center;
}
.plugin-card:not(.vertical) .card-date {
  grid-area: date;
  align-self: center;
}
.plugin-card.vertical .card-image::before {
  content: "";
  display: block;
  padding-top: 56.25%;
}

.card-box {
  position: relative;
  max-width: 100%;
  border: 1px solid rgba(155, 155, 155, 0.5);
  border-radius: 4px;
  overflow: hidden;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.card-box:hover {
  -webkit-transform: translate(2px, -5px);
          transform: translate(2px, -5px);
  -webkit-box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.5);
          box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.5);
}

.card-title {
  display: block;
  font-size: 1.2em;
  padding: 5px 5px 0 5px;
}

.card-description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 0.9em;
  height: 4.3em;
  opacity: 0.9;
  -webkit-line-clamp: 3;
  padding: 5px 5px 0 5px;
}

.card-date {
  display: none;
  text-align: right;
  font-size: 0.9em;
  padding: 5px;
}

.card-date.long {
  display: block;
}

.card-image {
  position: relative;
  overflow: hidden;
  display: block;
  width: 100%;
  height: 100%;
}
.card-image.img-tall img {
  -o-object-position: top;
     object-position: top;
}
.card-image img {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.card-link:link, .card-link:visited, .card-link:hover {
  text-decoration: unset;
  color: unset;
  background-color: unset;
}

.bold {
  font-weight: bold;
}

.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
/*# sourceMappingURL=card.css.map */