:root {
    --color-input-bg: #fafafd;
    --color-input-border: #d4dce4;
    --color-required: #dc143c;
    --color-focus: #60a5ff;
    --color-match: #ff7a7a;
    --color-selected: rgb(from var(--color-match) r g b / 0.1) ;
}

.plugin-newtpl {
    margin: 0 auto 24px auto;
    max-width: 768px;
    *, *::before, *::after {
        border: none;
        box-sizing: border-box;
        margin: 0;
        max-width: 100%;
        outline: none;
        padding: 0;
    }
    fieldset {
        margin-bottom: 12px;
    }
    label,
    select,
    button {
        cursor: pointer;
    }
    label {
        border-radius: 0 8px 8px 0;
        margin-bottom: 4px;
        min-width: 200px;
        padding: 8px 16px 8px 32px;
        transition: background-color 0.3s;
        width: fit-content;
        &:hover {
            background-color: var(--color-input-bg);
        }
    }
}

.newtpl-fields {
    margin-bottom: 12px;
}

.newtpl-item {
    border-top: 1px solid var(--color-input-border);
    margin: 0 12px;
    padding: 0 12px 12px 12px;
    position: relative;
    &:first-of-type {
        margin-top: 24px;
    }
    &[data-require=true] .newtpl-label::after {
        background-color: var(--color-required);
        content: '必須';
    }
}

.newtpl-label{
    align-items: center;
    display: flex;
    font-size: 1.2em;
    padding: 8px;
    &::after {
        border-radius: 4px;
        color: #ffffff;
        display: inline-block;
        font-size: 12px;
        line-height: 1;
        margin-left: 4px;
        padding: 2px 4px;
    }
}

.newtpl-desc {
    margin-bottom: 8px;
}

.newtpl-post {
    display: flex;
    flex-direction: column;
    input:not([type=range]):not([type=file]),
    select,
    textarea {
        background-color: var(--color-input-bg);
        border: 1px solid var(--color-input-border);
        border-radius: 4px;
        outline: 2px solid transparent;
        padding: 8px;
        transition: outline 0.3s;
        &:focus {
            outline: 2px solid var(--color-focus);
        }
    }
    input[type=text], input[type=range], input[type=number], input[type=password],
    input[type=date], input[type=time], input[type=datetime-local],
    select {
        height: 32px;
        width: 80%;
    }
    input[type=radio],
    input[type=checkbox] {
        left: 22px;
        opacity: 0;
        pointer-events: none;
        position: absolute;
        top: 12px;
        + label {
            align-items: center;
            display: flex;
            position: relative;
            &::before,
            &::after {
                content: '';
                display: block;
                left: 8px;
                position: absolute;
            }
            &::before {
                background-color: var(--color-input-bg);
                border: 1px solid var(--color-input-border);
                height: 16px;
                width: 16px;
            }
        }
    }
    input[type=radio] {
        + label {
            &::before,
            &::after {
                border-radius: 100%;
            }
            &::after {
                background-color: var(--color-focus);
                height: 12px;
                left: 10px;
                transform: scale(0);
                transition: transform 0.3s;
                width: 12px;
            }
        }
        &:checked + label::after {
            transform: scale(1);
        }
    }
    input[type=checkbox] {
        + label::after {
            border-color: transparent var(--color-focus) var(--color-focus) transparent;
            border-style: solid;
            border-width: 8px 4px 2px 2px;
            height: 20px;
            left: 16px;
            opacity: 0;
            top: 4px;
            transform: rotate(45deg);
            transition: opacity 0.3s;
            width: 8px;
        }
        &:checked + label::after {
            opacity: 1;
        }
    }
    textarea {
        height: 10em;
        resize: vertical;
        width: 100%;
    }
}

.newtpl-button {
    text-align: center;
    button {
        background-color: var(--color-focus);
        border-radius: 8px;
        color: #fff;
        font-size: 1.2em;
        margin: 0 12px;
        padding: 8px 16px;
        width: 140px;
        &:disabled {
            cursor: not-allowed;
            filter: saturate(0.5);
        }
    }
}

// autoComplete.js

.autoComplete_wrapper {
    display: inline-block;
    position: relative;
    > ul {
        position: absolute;
        max-height: 226px;
        overflow-y: scroll;
        box-sizing: border-box;
        left: 0;
        right: 0;
        margin: 0.5rem 0 0 0;
        padding: 0;
        z-index: 1;
        list-style: none;
        border-radius: 0.6rem;
        background-color: #fff;
        border: 1px solid rgba(33, 33, 33, 0.07);
        box-shadow: 0 3px 6px rgba(149, 157, 165, 0.15);
        outline: none;
        transition: opacity 0.15s ease-in-out;
        &[hidden],
        &:empty {
            display: block;
            opacity: 0;
            transform: scale(0);
        }
        > li {
            margin: 0.3rem;
            padding: 0.3rem 0.5rem;
            text-align: left;
            font-size: 1rem;
            color: #212121;
            border-radius: 0.35rem;
            background-color: rgba(255, 255, 255, 1);
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            transition: all 0.2s ease;
            &:hover {
                cursor: pointer;
                background-color: var(--color-selected);
            }
            &[aria-selected="true"] {
                background-color: var(--color-selected);
            }
            mark {
                background-color: transparent;
                color: var(--color-match);
                font-weight: bold;
            }
        }
    }
}