/* card.inc.php */
.plugin-card * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.plugin-card * img {
  max-width: 100% !important;
}

.plugin-card {
  --opacity-details: 0.8;
  display: grid;
  gap: 16px 8px;
  max-width: 100%;
  min-width: 300px;
}
.plugin-card[data-layout=horizontal] .card-item {
  height: 120px;
}
.plugin-card[data-layout=horizontal] .card-body {
  -moz-column-gap: 10px;
       column-gap: 10px;
  grid-template: "image title  " 1fr "image snippet" 3fr "image lastmod" 1fr/100px 1fr;
}
.plugin-card[data-layout=horizontal] .card-thumbnail {
  width: 100px;
  height: 100px;
}
.plugin-card[data-layout=vertical] .card-body {
  grid-template: "image" "title" "snippet" "lastmod";
  row-gap: 8px;
}
.plugin-card[data-layout=vertical] .card-thumbnail {
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
}
.plugin-card[data-cols="1"] {
  grid-template-columns: repeat(auto-fit, minmax(auto, 640px));
}
.plugin-card[data-cols="1"] .card-item {
  max-width: 640px;
}
.plugin-card[data-cols="2"] {
  grid-template-columns: repeat(auto-fit, minmax(auto, 356px));
}
.plugin-card[data-cols="2"] .card-item {
  max-width: 356px;
}
.plugin-card[data-cols="3"] {
  grid-template-columns: repeat(auto-fit, minmax(auto, 234.6666666667px));
}
.plugin-card[data-cols="3"] .card-item {
  max-width: 234.6666666667px;
}
.plugin-card[data-cols="4"] {
  grid-template-columns: repeat(auto-fit, minmax(auto, 174px));
}
.plugin-card[data-cols="4"] .card-item {
  max-width: 174px;
}
.plugin-card[data-cols="5"] {
  grid-template-columns: repeat(auto-fit, minmax(auto, 137.6px));
}
.plugin-card[data-cols="5"] .card-item {
  max-width: 137.6px;
}
.plugin-card[data-cols="6"] {
  grid-template-columns: repeat(auto-fit, minmax(auto, 113.3333333333px));
}
.plugin-card[data-cols="6"] .card-item {
  max-width: 113.3333333333px;
}
.plugin-card[data-justify=flex-start] {
  margin: 24px auto 24px 0;
  justify-content: flex-start;
}
.plugin-card[data-justify=flex-end] {
  margin: 24px 0 24px auto;
  justify-content: flex-end;
}
.plugin-card[data-justify=start] {
  margin: 24px auto 24px 0;
  justify-content: start;
}
.plugin-card[data-justify=end] {
  margin: 24px 0 24px auto;
  justify-content: end;
}
.plugin-card[data-justify=left] {
  margin: 24px auto 24px 0;
  justify-content: left;
}
.plugin-card[data-justify=center] {
  margin: 24px auto;
  justify-content: center;
}
.plugin-card[data-justify=right] {
  margin: 24px 0 24px auto;
  justify-content: right;
}
.plugin-card[data-justify=space-between] {
  margin: 24px auto;
  justify-content: space-between;
}
.plugin-card[data-justify=space-around] {
  margin: 24px auto;
  justify-content: space-around;
}
.plugin-card[data-justify=space-evenly] {
  margin: 24px auto;
  justify-content: space-evenly;
}
.plugin-card[data-justify=stretch] {
  margin: 24px auto;
  justify-content: stretch;
}

.card-item {
  border: 1px solid rgba(155, 155, 155, 0.5);
  border-radius: 4px;
  max-width: 100%;
  transition: transform 0.3s, box-shadow 0.3s;
  box-shadow: 0 0 rgba(0, 0, 0, 0.5);
}
.card-item:hover {
  transform: translate(2px, -5px);
  box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.5);
}

a.card-overwrap {
  color: unset;
  text-decoration: none;
}

.card-body {
  display: grid;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 10px;
}
.card-body > * {
  margin: 0;
  padding: 0;
}

.card-thumbnail {
  grid-area: image;
  overflow: hidden;
  border-radius: 8px;
  background-color: black;
}

.card-image {
  width: 100% !important;
  height: 100% !important;
  -o-object-fit: cover;
     object-fit: cover;
}

.card-title {
  grid-area: title;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  background-color: transparent;
}

.card-snippet {
  grid-area: snippet;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  opacity: var(--opacity-details);
  height: 4em;
}

.card-lastmod {
  grid-area: lastmod;
  justify-self: flex-end;
  opacity: var(--opacity-details);
  /*
  &::before {
      font-family: "Font Awesome 5 Free";
      font-weight: 700;
      margin-right: 4px;
      content: "\f1da";
  }
  */
}
.card-lastmod[data-length=short] {
  display: none;
}

.bold {
  font-weight: 700;
}

@media (min-width: 768px) {
  .plugin-card[data-compact=true] .card-title {
    -webkit-line-clamp: 2;
    height: 3.5rem;
  }
  .plugin-card[data-compact=true] .card-snippet {
    display: none;
  }
  .plugin-card[data-compact=true] .card-lastmod[data-length=full] {
    display: none;
  }
  .plugin-card[data-compact=true] .card-lastmod[data-length=short] {
    display: initial;
  }
}
@media (max-width: 767px) {
  .plugin-card[data-justify] {
    justify-content: center;
  }
  .plugin-card[data-cols][data-layout=vertical] {
    grid-template-columns: repeat(auto-fit, minmax(auto, 300px));
  }
  .plugin-card[data-cols][data-layout=vertical] .card-item {
    max-width: 300px;
  }
}