.plugin-clipboard {
    --color-light: hsl(0 0% 90%);
    --color-background-dark: hsl(0 0% 18%);
    --color-background-dark-lighter: hsl(0 0% 25%);
    --color-background-dark-lighter-2: hsl(0 0% 32%);
    --color-link-dark: hsl(215 100% 75%);
    --color-link-visited-dark: hsl(0 45% 55%);
}

@keyframes popup {
    0% {
        opacity: 0;
    }
    80% {
        opacity: 1;
        transform: translateY(-50%);
    }
    100% {
        opacity: 0;
        transform: translateY(-80%);
    }
}

.clipboard-button {
    align-items: center;
    cursor: pointer;
    justify-content: center;
    position: relative;
    user-select: none;
    width: fit-content;
    &::after {
        animation: popup 2s;
        background-color: var(--color-background-dark-lighter-2);
        border-radius: 4px;
        color: var(--color-light);
        content: attr(data-msg);
        display: none;
        font-size: 12px;
        opacity: 0;
        padding: 2px 8px;
        position: absolute;
        top: -16px;
        width: max-content;
    }
    &[data-copied]::after {
        display: block;
        pointer-events: none;
    }
}

.clipboard-source {
    display: none;
}

.clipboard-icon {
    fill: currentColor;
}

.clipboard-inline {
    align-items: center;
    display: inline-flex;
    gap: 4px;
    .clipboard-button {
        display: inline-flex;
        .clipboard-icon {
            height: 1.1em;
            width: 1.1em;
        }
    }
}

.clipboard-block {
    background-color: var(--color-background-dark-lighter);
    border-radius: 6px;
    color: var(--color-light);
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 24px;
    max-width: 100%;
    min-width: 300px;
    padding: 4px 4px 8px 4px;
    width: fit-content;
    .clipboard-button {
        background-color: var(--color-background-dark-lighter-2);
        border-radius: 4px;
        display: flex;
        font-size: 12px;
        gap: 4px;
        margin: 0 4px 0 auto;
        padding: 2px 8px;
    }
    .clipboard-display {
        background-color: var(--color-background-dark);
        border-bottom: 1px solid var(--color-background-dark-lighter-2);
        border-radius: 4px 4px 0 0;
        padding: 8px;
        > p,
        div {
            margin: 0;
            padding: 0;
        }
    }
    a {
        color: var(--color-link-dark);
        &:visited {
            color: var(--color-link-visited-dark);
        }
    }
}
