/*gallery.inc.php*/
.hidden {
  display: none !important;
}

.plugin-gallery {
  color: #cfcfcf;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.plugin-gallery.flex-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.plugin-gallery.flex-left {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.plugin-gallery.flex-right {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.plugin-gallery.trim-square .gallery-item {
  border-radius: 4px;
}

.plugin-gallery.trim-square .gallery-item::before {
  content: "";
  display: block;
  padding-top: 100%;
}

.plugin-gallery.trim-square .gallery-item .gallery-thumb {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.plugin-gallery.trim-square .gallery-item .gallery-source {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  height: 100%;
  width: 100%;
}

.plugin-gallery.trim-circle .gallery-item {
  border-radius: 9999px;
}

.plugin-gallery.trim-circle .gallery-item::before {
  content: "";
  display: block;
  padding-top: 100%;
}

.plugin-gallery.trim-circle .gallery-item .gallery-thumb {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.plugin-gallery.trim-circle .gallery-item .gallery-source {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  height: 100%;
  width: 100%;
}

.gallery-item {
  position: relative;
  max-width: 100%;
  height: auto;
  margin: 8px 6px;
  border: 5px solid #666;
  background: #666;
  border-radius: 4px;
  overflow: hidden;
  -webkit-filter: drop-shadow(0px 3px 4px rgba(0, 0, 0, 0.24));
          filter: drop-shadow(0px 3px 4px rgba(0, 0, 0, 0.24));
}

.gallery-item.nowrap {
  border: none;
  background: none;
}

.gallery-item:hover .gallery-source {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.gallery-caption {
  position: absolute;
  bottom: 0;
  padding: 10px 8px 3px 8px;
  width: calc(100% - 16px);
  max-height: 40%;
  min-height: 18px;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(20%, rgba(0, 0, 0, 0.9)), to(transparent));
  background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 20%, transparent);
  pointer-events: none;
  font-size: .9em;
  text-shadow: 1px 1px 3px #333;
}

.gallery-source {
  max-width: 100%;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}

.gallery-add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 0;
  font-weight: bold;
}

.gallery-add a:link, .gallery-add a:visited {
  text-align: center;
  width: 140px;
  padding: 10px 0;
  background: #56b372;
  border-radius: 10px;
  color: #fcfcfc;
  font-size: 14px;
  text-shadow: 1px 1px 3px #333;
}

.gallery-add a:link:hover, .gallery-add a:visited:hover {
  text-decoration: none;
  -webkit-filter: opacity(0.9);
          filter: opacity(0.9);
}
/*# sourceMappingURL=gallery.css.map */