/*gallery.inc.php*/
@mixin trimImage ($radius) {
    .gallery-item {
        border-radius: $radius;
        &::before {
            content:"";
            display: block;
            padding-top:100%;
        }
        .gallery-thumb {
            display: inline-block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
        .gallery-source {
            object-fit: cover;
            object-position: top;
            height: 100%;
            width: 100%;
        }
    }
}
.hidden {display: none!important;}
.plugin-gallery {
    color: #cfcfcf;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    &.flex-center {justify-content: center;}
    &.flex-left {justify-content: flex-start;}
    &.flex-right {justify-content: flex-end;}
    &.trim-square {@include trimImage(4px);}
    &.trim-circle {@include trimImage(9999px);}
}
.gallery-item {
    position: relative;
    max-width: 100%;
    height: auto;
    margin: 8px 6px;
    border: 5px solid #666;
    background: #666;
    border-radius: 4px;
    overflow: hidden;
    filter:drop-shadow(0px 3px 4px rgba(0, 0, 0, 0.24));
    &.nowrap {border: none;background: none;}
    &:hover .gallery-source {
        transform: scale(1.1);
    }
}
.gallery-caption {
    position: absolute;
    bottom: 0;
    padding: 10px 8px 3px 8px;
    width: calc(100% - 16px);
    max-height: 40%;
    min-height: 18px;
    background: linear-gradient(to top, rgba(0,0,0,.9) 20%, transparent);
    pointer-events: none;
    font-size: .9em;
    text-shadow: 1px 1px 3px #333;
}
.gallery-source {
    max-width: 100%;
    transition: transform .2s;
}
.gallery-add {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    font-weight: bold;
    a:link, a:visited {
        text-align: center;
        width: 140px;
        padding: 10px 0;
        background: #56b372;
        border-radius: 10px;
        color: #fcfcfc;
        font-size: 14px;
        text-shadow: 1px 1px 3px #333;
        &:hover {
            text-decoration: none;
            filter: opacity(.9);
        }
    }
}