span.plugin-spoiler {
    display: inline-block;
}

.plugin-spoiler {
    position: relative;
    &[data-mode=hover] {
        filter: blur(4px);
        &:hover {
            filter: blur(0);
        }
    }
    .spoiler-overlay {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(4px);
    }
    .spoiler-check:checked + .spoiler-overlay {
        display: none;
    }
    > p {
        padding: 0 8px;
    }
}