span.plugin-spoiler {
    display: inline-block;
}

.plugin-spoiler {
    position: relative;
    z-index: 0;
    &::before,
    &::after {
        cursor: pointer;
        display: block;
        position: absolute;
        opacity: 1;
        transition: opacity .3s;
    }
    &::before {
        content: '';
        backdrop-filter: blur(var(--spoiler-blur)) contrast(var(--spoiler-contrast));
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 1;
    }
    &::after {
        content: attr(data-text);
        font-size: var(--spoiler-text-size);
        color: var(--spoiler-text-color);
        width: max-content;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
    }
    &[data-mode=hover] {
        &:hover {
            &::before,
            &::after {
                opacity: 0;
                pointer-events: none;
                user-select: none;
            }
        }
    }
    &.open {
        &::before,
        &::after {
            opacity: 0;
            pointer-events: none;
            user-select: none;
        }
    }
}