span.plugin-spoiler {
  display: inline-block;
}

.plugin-spoiler {
  position: relative;
  z-index: 0;
}
.plugin-spoiler::before, .plugin-spoiler::after {
  cursor: pointer;
  display: block;
  position: absolute;
  opacity: 1;
  transition: opacity 0.3s;
}
.plugin-spoiler::before {
  content: "";
  -webkit-backdrop-filter: blur(var(--spoiler-blur)) contrast(var(--spoiler-contrast));
          backdrop-filter: blur(var(--spoiler-blur)) contrast(var(--spoiler-contrast));
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
.plugin-spoiler::after {
  content: attr(data-text);
  font-size: var(--spoiler-text-size);
  color: var(--spoiler-text-color);
  width: -moz-max-content;
  width: max-content;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.plugin-spoiler[data-mode=hover]:hover::before, .plugin-spoiler[data-mode=hover]:hover::after {
  opacity: 0;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.plugin-spoiler.open::before, .plugin-spoiler.open::after {
  opacity: 0;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}